@page "/"

<MudContainer Elevation="10" Class="d-flex flex-column flex-grow-1 gap-4 mt-16">
    <PageTitle>Home</PageTitle>

    <h1>Hello, world!</h1>

    <p>Welcome to your new app.</p>

    <p>After a user authenticates, the navigation menu shows a link to the <a href="private-page">Private Page</a>.</p>
</MudContainer>

