@page "/private-page"
@attribute [Authorize]
@using System.Security.Claims

<PageTitle>Private Page</PageTitle>

<MudPaper Class="mt-15 mx-15 d-flex flex-grow-1 gap-4" Elevation="0">


    <MudCardHeader>
        <h1>Account</h1>
    </MudCardHeader>

    <AuthorizeView>
        <p>Hello, @context.User.Identity?.Name! You're authenticated, so you can see this page that shows your claims.</p>
    </AuthorizeView>

    <h2>Claims</h2>

    @if (claims.Count() > 0)
    {
        <ul>
            @foreach (var claim in claims)
            {
                var claimType = claim.Type.Replace("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/", "");
                <li><b>@claimType:</b> @claim.Value</li>
            }
        </ul>
    }

</MudPaper>

@code {
    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (AuthState == null)
        {
            return;
        }

        var authState = await AuthState;
        claims = authState.User.Claims;
    }
}
