
<MudPaper Class="mt-15 mx-15 d-flex flex-grow-1 gap-4" Elevation="20">
   
    <MudCardHeader>
        <a href="#">
            <MudAvatar Rounded="true" Style="width: 100px; height: 100px;" Class="mr-10" Color="Color.Primary"><h1 class="mt-3"><b>M</b></h1></MudAvatar>
        </a>
    <AuthorizeView>
        <NotAuthorized>
                <MudText Class="ml-16"><h1>WELCOME TO THE MATCHMAKER</h1></MudText>
        </NotAuthorized>
        <Authorized>
            <MudButton Size="Size.Large" Variant="Variant.Text" Color="Color.Primary" Style="width: 200px; height: 60px;" Href="private-page" Class="mx-4">Private Page</MudButton>
        </Authorized>
    </AuthorizeView>
    </MudCardHeader>

    
</MudPaper>


